body {
  padding: 0 10px;
  margin: 40px auto;
  max-width: 1200px;
  color: #444;
  font: 18px/1.5 sans-serif;
}
.physical { color: #222; }
.fire { color: #700; }
.water { color: #007; }
.earth { color: #070; }
.wind { color: #666; }
.poison { color: #250; }
.bleed { color: #511; }
.slow { color: #447; }
.petrify { color: #434; }
.confusion { color: #fd0; }
td { border-top: 1px solid #333; }


@media (prefers-color-scheme: dark) {
	body {
	  background: #112;
	  color: #cdd;
	}
	a:link { color: #5af; }
	a:visited { color: #89f; }
	.physical { color: #777; }
	.fire { color: #d22; }
	.water { color: #22d; }
	.earth { color: #2d2; }
	.wind { color: #fff; }
	.bleed { color: #d33; }
	.poison { color: #4b4; }
	.slow { color: #77b; }
}

h1, h2, h3 { line-height:1.2; }
div.inb { display: inline-block; }
#footer { position: absolute; bottom: 0px; right: 5px; }
input[type="number"] { width: 2.5em; }